.leaflet-popup-content-wrapper {
  padding: 0px !important;
  border-radius: 0px !important;
}

.leaflet-popup-content {
  margin: 0 !important;
  padding: 0px !important;
}

.leaflet-popup-content a {
  color: #000;
  text-decoration: none;
}

.leaflet-popup-content a:hover,
.leaflet-popup-content a:focus,
.leaflet-popup-content a:active {
  opacity: 1;
  outline: 0;
  -webkit-transition: ease-in-out 0s;
  -moz-transition: ease-in-out 0s;
  -o-transition: ease-in-out 0s;
  transition: ease-in-out 0s;
}

.leaflet-container a.leaflet-popup-close-button {
  color: #ffffff89 !important;
  font-weight: 100 !important;
}

.map-popup-image {
  height: auto;
  width: 100%;
}

.map-popup-title {
  padding: 8px;
  font-family: "Work Sans";
  font-size: 16px;
  text-align: center;
}

#main-map-id {
  height: 100vh;
  width: 100%;
}

#main-map-form {
  z-index: 1500 !important;
  position: absolute;
  right: 0;
}

fieldset {
  border-width: 0px;
}

.ui-widget {
  font-family: "Work Sans",sans-serif !important;
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
  font-family: "Work Sans",sans-serif !important;
}

.ui-selectmenu-open {
  z-index: 1500 !important;
}
